/* Menu.css */
.eventfirstdiv {
  text-align: center;
  margin-bottom: 20px;
}

.eventimage {
  max-width: 100%;
  height: auto;
}

.box1 {
  padding: 20px;
  text-align: center;
}

.menulist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  border: 1px solid #e5b638;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.375rem; /* Equivalent to medium rounding */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem; /* Assuming this is the responsive font size */
  cursor: pointer;
  margin: 5px;
  background-color: transparent; /* Add a default background color if needed */
}

.button:hover {
  background-color: #c21f24;
}

/* Styles for the product card container */
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Gap between cards */
}

/* Styles for the product card */
.product-card {
  background-color: #222326;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  width: calc(50% - 10px); /* Two cards in a row with gap */
}

/* Styles for the product image */
.product-image {
  flex: 0 0 40%; /* Width of the image */
}

.product-image img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Styles for the product details */
.product-details {
  flex: 1; /* Take remaining space */
  padding: 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Align content vertically */
}

/* Styles for the product name */
.product-name {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Styles for the product price */
.product-price {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Styles for the add to cart button */
.add-to-cart {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart:hover {
  background-color: #0056b3;
}
